
.iframe-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.iframe-modal {
  align-self: center;
  width: 40em;
  font-family: Lato;
  background-color: #fff;
}

.iframe-modal__top-row {
  display: block;
  padding-right: 0.6em;
  padding-top: 0.4em;
  text-align: right;
  font-size: 1.4em;
  color: rgb(153,153,153);
}

#close-iframe-symbol {
  color: rgb(153,153,153);
  text-decoration: none;
}

#close-iframe-symbol:hover {
  color: rgb(0,0,0);
  text-decoration: none;
}

.iframe-modal__header-row {
  display: block;
  padding-top: 0.6em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8em;
  color: rgb(82, 8, 76);
}

.iframe-modal__subheader-row {
  display: block;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: normal;
  color: rgb(0,0,0);

}

.iframe-modal__reward-row-container {
  display: flex;
  flex-direction: row;
  padding-top: 0.2em;
  padding-bottom: 0.4em;
  text-align: center;
}

.reward-container {
  display: block;
  width: 33%;
  padding: 0.2em;
  text-align: center;
  text-transform: capitalize;
}

.reward-container__header {
  padding: 0.2em;
  font-weight: bold;
}

.reward-container__subheader {
  font-size: 1em;
}

.iframe-modal__button-row {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.iframe-modal__button-row button {
  width: 60%;
  padding: 0.6em;
  border: none;
  font-family: Lato;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
  background-color: rgb(82, 8, 76);
  color: rgb(255, 255, 255);
}

.iframe-modal__footer-row {
  padding-bottom: 1.4em;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: #999;
}

/* latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  src: local('Kreon Regular'), local('Kreon-Regular'), url(http://fonts.gstatic.com/s/kreon/v9/DedTOFfDyPja0h-dTOyw06CWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 700;
  src: local('Kreon Bold'), local('Kreon-Bold'), url(http://fonts.gstatic.com/s/kreon/v9/xjKCXsEUnBvIKKUiQZ3MtXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
